{% extends "boom/base.html" %}

{% block content %}
        <p>Добавлено карт: {{ game.card_set.all.count }}
        <a href="{% url 'game' game.slug %}">Обновить</a></p>

        <p>Добавить карты:</p>
        <form method="POST" rows="10" columns="30" action="{% url 'add_cards' game_id=game.slug %}">
        <textarea name="cards" placeholder="Имена на отдельных строчках"></textarea>
        <input type="submit" value="Отправить"></input>
        {% csrf_token %}
        </form>

        <a href="{% url 'start_game' game_id=game.slug %}">Начать игру</a>
{% endblock %}
