<!doctype html>
<html>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>Game {{ game.slug }} has {{ game.card_set.all.count }} cards
        <a href="{% url 'game' game.slug %}">Refresh</a></p>

        <form method="POST" action="{% url 'add_cards' game_id=game.slug %}">
        <textarea name="cards" placeholder="One name per line"></textarea>
        <input type="submit"></input>
        {% csrf_token %}
        </form>

        <a href="{% url 'start_game' game_id=game.slug %}">Start game</a>
    </body>
</html>
