{% extends "boom/base.html" %}

{% block content %}
    {{ game.get_active_cards | json_script:"cards" }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <form action="#">
        {% csrf_token %}
    </form>

    {% verbatim %}
    <div id="app">
        <div class="card mx-auto" style="width: 30rem"><div class="card-body">
            <div class="row">
                <p class="col-sm">Осталось секунд: {{ seconds_left }}</p>
                <p class="col-sm">Осталось карт: {{ cards.length }}</p>
            </div>
            <div style="font-size: 32px; text-align: center; min-height: 5rem">{{ current_card.name }}</div>
            <div class="d-grid">
                <button v-on:click="start" autofocus v-show="!playing&&!done"
                    class="btn btn-primary" id="start">Пуск</button>
                <button v-show="playing" v-on:click="next" class="btn btn-outline-primary" id="next">Угадали</button>
            </div>
    {% endverbatim %}
            <a v-show="done" id="done" class="btn btn-primary btn-block"
                href="{% url 'game' game.slug %}">Посмотреть счёт</a>
            </div></div>
    </div>

    <script language="javascript">
        var csrfToken = document.getElementsByTagName('input')[0].value;
        var app = new Vue({
          el: '#app',
          data: {
              playing: false,
              done: false,
              current_card: {name: ''},
              seconds_left: 60,
              deadline: null,
              timer: null,
              cards: JSON.parse(document.getElementById('cards').textContent),
          },
          methods: {
              start: function() {
                  this.cards.reverse();
                  this.next_card();
                  this.playing = true;
                  Vue.nextTick(() => {
                      document.getElementById('next').focus();
                  });
                  this.seconds_left = 60;
                  this.deadline = Date.now() + 60000;

                  this.timer = setInterval(() => {
                      var now = Date.now();
                      if (now >= this.deadline) {
                          this.stop();
                      } else {
                          this.seconds_left = Math.ceil((this.deadline - Date.now()) / 1000);
                      }
                  }, 200);
              },
              stop: function() {
                  this.playing = false;
                  this.done = true;
                  this.current_card.name = '';
                  Vue.nextTick(() => {
                      document.getElementById('done').focus();
                  });
                  if (this.timer) {
                      clearInterval(this.timer);
                      this.timer = null;
                      this.seconds_left = 0;
                  }
              },
              next: function() {
                  fetch('/win', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrfToken,
                      },
                      body: JSON.stringify({
                          our_team: {{ our_team }},
                          win_card: this.current_card.id,
                      })
                  });

                  this.next_card();
              },
              next_card: function() {
                  if (this.cards.length > 0) {
                      this.current_card = this.cards.pop();
                      fetch('/win', {
                          method: 'POST',
                          headers: {
                              'Content-Type': 'application/json',
                              'X-CSRFToken': csrfToken,
                          },
                          body: JSON.stringify({
                              our_team: {{ our_team }},
                              show_card: this.current_card.id,
                          })
                      });
                  } else {
                      this.stop();
                  }
              },
          },
        });
    </script>
{% endblock %}
