{% extends "boom/base.html" %}

{% block content %}
        <p>Раунд {{ game.stage_number }}</p>

        <ul>
        {% for score in game.get_scores %}
            <li>
                <form method="POST" action="{% url 'start_round' game.slug score.team_id %}">
                    <input type="submit" value="Объяснять за команду {{ score.team_id }}"></input>
                {% csrf_token %}
                </form>
                Счёт: {{ score.value }}
            </li>
        {% endfor %}
        </ul>
{% endblock %}
